body {
  font-family: "Lobster", cursive;
  font-family: "Cabin", sans-serif;
}

.logo {
  font-family: "Lobster", cursive;
}

#recetas li {
  line-height: 40px;
  font-size: 24px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

#contacto {
  background-color: #dc3545;
}
footer {
  font-family: "Lobster", cursive;
}

@media screen and (min-width: 992px) {
  #recetas,
  #nosotros,
  #inicio {
    padding-top: 5pc;
  }
}
